.app{

}

/* header */
.header{
    background-color:#aab;
    padding-right: 30px;
    padding-left: 30px;
}
/* body */
.body{
    background-color:#777;    
}

/* footer component */
.footer {
    color:#fff;
    background-color: #aaa;
    text-align: start;
    padding: 15px 0px;    
}

.links{
  padding: 5px 0px 5px;
  text-align-last: center;
}

.add{
  padding: 5px 0px 15px;
  text-align: center;
}

address {
  font-size: 90%;
  margin: 0px;
  
}

.justify-content-center{
  padding: 30px 0px;
}

.justify-content-center > p {
  color: #fff;
  font-size: 90%;
  font-style: oblique;
}

a {
    color: white;
    text-decoration: solid;
}

a:hover{
    color: white;
}

/* createpost */
.createPost{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  /* height: calc(  90vh - 80px); */
}

.uploadPost{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  /* height: 400px; */
  width: 600px;
  border: 2px solid #aaa;
  font-size:23px;
}

.uploadPost > textarea {
  height: 300px;
  width: 90%;
}

.uploadPost > input {
  margin-bottom :15px;
  width:90%;
  height: 40px;

}
